.note {
    width: 60%;
    margin-top: 20px;
    align-items: baseline;
    padding: 20px;
    border-radius: 5px;
}

.data {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 768px) {
    .data {
        flex-direction: column;
    }
}

.normal {
    background-color: var(--normals);
}

.important {
    background-color: var(--importants);
}

.text-note{
    color: var(--fondo);
    margin-bottom: 10px;
}