.form{
    width: 60%;
    align-items: baseline;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--principal);
}

.error {
    color: var(--importants);
    margin-bottom: 5px;
}