.form{
    width: 60%;
    align-items: baseline;
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--principal);
}

.form-group {
    width: 100%;
}

.error {
    color: var(--importants);
    margin-bottom: .5rem;
}

.button-form {
    width: 100%;
    padding: 1rem
}

.button-note {
    padding: .5rem;
    background-color: var(--principal);
}